@use "../utilities/variables" as *;

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

@mixin intro{
    max-width: 600px;
    background-color: $color-fondo-claro;
    margin: 0 auto 30px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@mixin intro-p{
    font-size: 20px;
    color: black;
    max-width: 700px;
    margin: 30px;
}