$color-fondo-obscuro:hwb(281 52% 13%);
$color-fondo-claro:hsl(265, 66%, 89%);
$color-seccion-iluminada:hsl(278, 100%, 83%);
$color-botones: #0a58ca;
$color-resaltado-obscuro:hsl(315, 82%, 28%);
$shadow-box:5px 5px 10px rgba(0, 0, 0, 0.5);